{% extends "layout.html" %}

{% block body %}
<div class="myform row">
  <p>
    Login
  </p>
  <div class="col-sm-12">
    <form action ="/submit_login" method="POST">
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" required class="form-control" placeholder="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" required class="form-control" placeholder="password">
      </div>
      <div class="form-group">
        <button type="submit" name= "myaction" value= "update" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes" style="list-style-type: none;">
    {% for message in messages %}
      <li style="background-color: yellow; display: inline;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
